body {
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
    font-size: 18px;
    height: 100vh;
    margin: 0;
    display: grid;
    grid-template-areas: "header header header"
                         "main main main"
                         "main main main"
                         "main main main"
                         "footer footer footer";
    grid-template-rows: 7rem 1fr 1fr 1fr 4rem;
}

header {
    grid-area: header;
    background-color: khaki;
}

main {
    grid-area: main;
    background-color: lightblue;
}

#center {
    grid-column-start: 2;
    grid-column-end: span 1;
    grid-row-start: 3;
    grid-row-end: span 1;
    background-color: lightcoral;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    grid-area: footer;
    background-color: lightseagreen;
}